BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst_n" SITE "D6";
IOBUF  PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[1]" SITE "C2";
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[2]" SITE "C1";
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[3]" SITE "D2";
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[4]" SITE "D1";
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[5]" SITE "E2";
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[6]" SITE "E1";
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[7]" SITE "H3";
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn_up" SITE "R18";
IOBUF  PORT "btn_up" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "btn_down" SITE "V1";
IOBUF  PORT "btn_down" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "btn_left" SITE "U1";
IOBUF  PORT "btn_left" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "btn_right" SITE "H16";
IOBUF  PORT "btn_right" PULLMODE=DOWN IO_TYPE=LVCMOS33;

# J2 direct-plug 2x6 PMOD-compatible block.
# Physical observation from EX2 task 5:
#   lower row = GP
#   upper row = GN
#
# Wire these to the QSPI PMOD signal pins in PMOD1..PMOD8 order:
#   PMOD1 = CS0, PMOD2 = SD0, PMOD3 = SD1, PMOD4 = SCK,
#   PMOD5 = SD2, PMOD6 = SD3, PMOD7 = CS1, PMOD8 = CS2
LOCATE COMP "pmod_cs0_n" SITE "D16";
IOBUF  PORT "pmod_cs0_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pmod_sd0" SITE "C17";
IOBUF  PORT "pmod_sd0" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pmod_sd1" SITE "C15";
IOBUF  PORT "pmod_sd1" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "pmod_sck" SITE "D17";
IOBUF  PORT "pmod_sck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "pmod_sd2" SITE "C16";
IOBUF  PORT "pmod_sd2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pmod_sd3" SITE "B17";
IOBUF  PORT "pmod_sd3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pmod_cs1_n" SITE "B15";
IOBUF  PORT "pmod_cs1_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "pmod_cs2_n" SITE "C18";
IOBUF  PORT "pmod_cs2_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
